
<form action="/lists/<%= params[:id] %>/todos%>" method="post">
  <dl>
    <dt>
      </label for="todo">Enter a new todo item</label>
    </dt>
    <dd>
      <input name="todo" placeholder="Something to do" type="text" value="">
    </dt>
  </dl>
  <fieldset class="action">
    <input type="submit" value="Add">
  </fieldset>
</form>
<% content_for :header_links do %>
  <a href="/lists">All lists</a>
<% end %>