<ul id="lists">
  <% @todos.each do |todo| %>
    <li>
      <a>
        <h2><%= todo %></h2>
      </a>
    </li>
  <% end %>
</ul>

<form action ='/lists/0' method="post">
  <dl>
    <dt>
      <label for="todo_name">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo_name" placeholder="Todo text" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>